<%- include("partials/header.ejs"); -%>

<h1>CONTACT</h1>

<p><%=mainParagraph%></p>

<div class="flex-container">
  <div class="buttons">
    <a href="/compose"><button type="button" class="btn btn-outline-secondary">ADD A NEW JOKE</button></a>
  </div>

  <div class="buttons">
    <a href="mailto:markporo@yahoo.com" target="_blank"><button type="button" class="btn btn-outline-secondary">Email Us!</button></a>
  </div>
</div>

<%- include("partials/footer.ejs"); -%>
