<%- include("partials/header.ejs"); -%>

<h1><%=title%></h1>

<p><%=post%></p>


<div class="flex-container-center">
<img class="fatbaby" id="ron1" src="https://media.giphy.com/media/lszAB3TzFtRaU/giphy.gif" alt="Ron Burgandy Laughing">
<img class="fatbaby" id="fatBaby" src="https://media.giphy.com/media/gj0QdZ9FgqGhOBNlFS/giphy.gif" alt="baby laughing">
<img class="fatbaby" id="ron2" src="https://media.giphy.com/media/lszAB3TzFtRaU/giphy.gif" alt="Ron Burgandy Laughing">

</div>

    
<%- include("partials/footer.ejs"); -%>